@font-face {
    font-family: JosefinB;
    src: url(../font/JosefinSans-Bold.ttf);
}

@font-face {
    font-family: Gotham;
    src: url(../font/Gotham\ Book\ Font.otf);
}

@font-face {
    font-family: JosefinSB;
    src: url(../font/JosefinSans-SemiBold.ttf);
}

@font-face {
    font-family: JosefinR;
    src: url(../font/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: JosefinL;
    src: url(../font/JosefinSans-Light.ttf);
}

@font-face {
    font-family: CoreSans;
    src: url(../font/Core\ Sans\ M\ 45\ Regular.ttf);
}

@font-face {
    font-family: JosefinBI;
    src: url(../font/JosefinSans-BoldItalic.ttf);
}
@font-face {
    font-family: RobotoB;
    src: url(../font/Roboto-Bold.ttf);
}
@font-face {
    font-family: RobotoM;
    src: url(../font/Roboto-Medium.ttf);
}
@font-face {
    font-family: RobotoR;
    src: url(../font/Roboto-Regular.ttf);
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Gotham;
    
}

a {
    text-decoration: none;
    color: snow;
}
.Roboto_medium{
    font-family: RobotoM;
}
.Roboto_regular{
    font-family: RobotoR;
}
.Roboto_bold{
    font-family: RobotoB;
}
.nonediv {
    display: none !important;
}

.headerprincipal-index-daktico {
    width: 100%;
}

.admin-index-daktico {
    width: 100%;
    height: 30px;
    background: #130B24;
    color: #E8E2F6;
    display: flex;
    justify-content: right;
}

.admin-index-daktico span {
    font-family: CoreSans;
    font-size: 12px;
    margin-right: 40px;
}

.admin-index-daktico div {
    display: flex;
    align-items: center;
}

.admin-index-daktico div span {
    margin-left: 5px;
}

.menu-index-daktico {
    width: 100%;
    height: 70px;
    background: #fff;
    color: #351F65 !important;
    display: flex;
    box-shadow: 0px 3px 6px #00000029;
}

.menu-index-daktico a {
    color: #351F65 !important;
    font-family: JosefinB;
}

.logo-index-daktico {
    width: 10%;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.itemsmenu-index-daktico {
    width: 90%;
    display: flex;
    justify-content: right;
}

.itemsmenu-index-daktico .items-index {
    display: flex;
    align-items: center;
}

.itemsmenu-index-daktico div {
    font-family: RobotoM;
    font-weight: bold;
    margin-right: 50px;
}

.linea {
    background: #F21170;
    content: '';
    display: block;
    position: relative;
    width: 20px;
    border: 2px solid transparent;
    margin: auto;
}

.btndemo-index-daktico {
    width: 150px;
    height: 40px;

    margin-right: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.btndemo-index-daktico span {
    color: #fff !important;
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    width: 150px;
    height: 40px;
    margin-left: 5px;
    margin-bottom: 10px;
    background: #F4364C;
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal !important;
    margin-right: 0px !important;
}

.btndemo-index-daktico:hover {
    background: #9A8FB2;
}

.titulo-casos-daktico {
    width: 100%;
    margin-top: 50px;
    text-align: center;
    color: #222222;
    font-size: 46px;
    font-family: JosefinSB;

}

.titulo-casos-daktico div {
    padding-left: 332px;
    padding-right: 332px;
}

.subr-casos {
    font-family: JosefinBI !important;
    text-decoration: underline;
}

body {
    background: #F4F4F4;
}

.gridprincipal-casos-daktico {
    display: grid;
    grid-template-columns: auto;
    margin-top: 50px;

}

.gridcliente-casos-daktico {
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

}

.imgprincipal-caso {

    justify-content: center;
    width: 100%;
}

.imgprincipal-caso img {
    width: 100%;
    height: 400px;
    border-radius: 8px;
}

.img-expandir {
    margin-left: -22px;
    position: absolute;
    width: 16px !important;
    height: 25px !important;
}

.cuerpotext-caso {
    padding-left: 50px;
}

.Ncliente-casos {
    color: #222222;
    font-family: JosefinB;
    font-size: 36px;
    text-align: left;
}

.nombrecliente-casos {
    margin-top: 20px;
    color: #222222;
    font-family: JosefinB;
    font-size: 19px;
    text-align: left;
}

.cargocliente-casos {
    margin-top: 10px;
    color: #9A8FB2;
    font-family: JosefinR;
    font-size: 19px;
    text-align: left;
}

.desc-casos {
    margin-top: 20px;
    color: #222222;
    font-family: CoreSans;
    font-size: 24px;
    text-align: left;
    padding-right: 100px;

}

.btnmostrarmas-casos {
    display: flex;
    align-items: center;
    width: max-content;
    margin-top: 30px;
    border-radius: 4px;
    border: 1px solid #9A8FB2;
    padding: 8px;
    font-family: JosefinR;
    color: #351F65;
    font-size: 14px;
    cursor: pointer;
}

.btnmostrarmas-casos:hover {
    background: #351F65;
    color: white;
}

.gridoculto-left-casos {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 20px;
}

.textoculto-left-casos {
font-family: RobotoR;
    text-align: right;
    padding-right: 15px;
    color: #666666;
}

.imgoculto-left-casos img {
    width: 100%;
    height: 200px;
}

.gridoculto-right-casos {
    display: grid;
    width: 80%;

    margin-right: auto;
    grid-template-columns: 100%;
    margin-top: 20px;
}

.gridoculto-right-casos div {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: CoreSans;
    font-size: 18px;
    color: #444444;
    text-align: left;
    line-height: 30px;
}


footer {
    background: #130B24;

    width: 100%;
}

.gridprincipalfooter-index-daktico {

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 90px;
    padding-bottom: 50px;
    border-bottom: 1px solid #28174B;
}

.gridprincipalfooter-index-daktico div {
    margin-left: auto;
    margin-right: auto;
}

.gridprincipalfooter-index-daktico div div {
    font-family: JosefinR;
    margin-bottom: 30px;
    font-size: 18px;
}

.gridprincipalfooter-index-daktico div div a {
    text-decoration: none;
    color: #DED5F2;
    margin-top: 50px;


}

.gridprincipalfooter-index-daktico div div a img {
    height: 15px;
    width: 15px;


}

.gridprincipalfooter-index-daktico div div a span {
    padding-left: 10px;
}

.textfinalfooter-index-daktico {
    width: 100%;
    text-align: center;
    font-family: JosefinR;
    font-size: 16px;
    color: #DED5F2;
    margin-top: 30px;

}

.copyright-index-daktico {
    width: 100%;
    text-align: center;
    font-family: JosefinR;
    font-size: 13px;
    color: #9A8FB2;
    margin-top: 30px;
    padding-bottom: 15px;
}

@media (max-width: 499px) {



    .titulo-casos-daktico {
        font-size: 36px;
    }

    .titulo-casos-daktico div {
        padding-left: 10px;
        padding-right: 10px;
    }

    /*  */


    .gridcliente-casos-daktico {
        width: 90%;
        grid-template-columns: 100%;


    }

    .imgprincipal-caso img {
        width: 100%;
        height: 350px;
        border-radius: 8px;
    }

    .cuerpotext-caso {
        margin-top: 20px;
        padding-left: 10px;
    }



    .desc-casos {

        padding-right: 10px;

    }




    .imgoculto-left-casos img {
        width: 100%;
        height: 200px;

    }

    .gridoculto-right-casos {
        display: grid;
        width: 90%;
    }

    .gridprincipalfooter-index-daktico {
        grid-template-columns: 100%;
        justify-content: center;
    }

    .gridprincipalfooter-index-daktico div {
        width: max-content;
        margin-left: 0px;
        margin-right: 0px;
    }

    .imglogo-footer {
        margin-bottom: 20px;
    }

}

@media (max-width: 767px) {
    .admin-index-daktico {
        width: 100%;
        display: block;
        height: max-content;
    }

    .admin-index-daktico span {
        font-size: 9px;
        margin-right: 10px;
    }

    .admin-index-daktico div {
        margin-left: 5px;
        justify-content: center;
    }

    .admin-index-daktico div span {
        margin-left: 0px;
    }

    .menu-index-daktico {
        width: 100%;
        height: max-content;
        display: block;
        padding-bottom: 20px;
    }

    .logo-index-daktico {
        padding-top: 15px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: block;

    }

    .logo-index-daktico img {
        width: 150px;
    }

    .itemsmenu-index-daktico {
        width: 100%;
        display: block;
        justify-content: right;
    }

    .itemsmenu-index-daktico .items-index {
        text-align: center;
        display: block;
        align-items: center;

    }

    .itemsmenu-index-daktico .items-index div {
        margin-top: 10px;
    }

    .itemsmenu-index-daktico div {
        font-weight: bold;
        margin-right: 0px;
    }

    .btndemo-index-daktico {
        margin-top: 30px !important;
        width: 120px;
        margin-right: auto !important;
        margin-left: auto !important;

    }

    .btndemo-index-daktico span {
        width: 120px;
    }
}

@media (min-width: 500px) and (max-width: 700px) {



    .imglogo-footer {
        display: none;
    }

    .gridprincipalfooter-index-daktico {
        grid-template-columns: 35% 35% 30% !important;
        justify-content: center !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

}

@media (min-width: 500px) and (max-width: 1000px) {
    .titulo-casos-daktico {
        font-size: 40px;
    }

    .titulo-casos-daktico div {
        padding-left: 30px;
        padding-right: 30px;
    }

    .gridcliente-casos-daktico {
        width: 95%;
        grid-template-columns: 50% 50%;


    }

    .imgprincipal-caso img {
        width: 100%;
        height: 350px;
        border-radius: 8px;
    }

    .imgoculto-left-casos img {
        width: 100%;
        height: 200px;

    }

    .desc-casos {

        padding-right: 10px;

    }

    .cuerpotext-caso {
        margin-top: 20px;
        padding-left: 10px;
    }

    .gridprincipalfooter-index-daktico {
        grid-template-columns: 25% 25% 25% 25%;
        justify-content: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    .gridprincipalfooter-index-daktico div {
        width: max-content;
        margin-left: 0px;
        margin-right: 0px;
    }

    .imglogo-footer {
        margin-bottom: 20px;
    }

}

@media (min-width: 1000px) and (max-width: 1024px) {
    .titulo-casos-daktico div {
        padding-left: 50px;
        padding-right: 50px;
    }
}