@font-face {
    font-family: Gotham;
    src: url(../font/Gotham\ Book\ Font.otf);
}

@font-face {
    font-family: Pacifico;
    src: url(../font/Pacifico.ttf);
}

@font-face {
    font-family: JosefinB;
    src: url(../font/JosefinSans-Bold.ttf);
}

@font-face {
    font-family: JosefinSB;
    src: url(../font/JosefinSans-SemiBold.ttf);
}

@font-face {
    font-family: JosefinR;
    src: url(../font/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: CoreSans;
    src: url(../font/Core\ Sans\ M\ 45\ Regular.ttf);
}

@font-face {
    font-family: RobotoB;
    src: url(../font/Roboto-Bold.ttf);
}

@font-face {
    font-family: RobotoM;
    src: url(../font/Roboto-Medium.ttf);
}


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Gotham;

}

a {
    text-decoration: none;
    color: snow;
}

.Roboto_medium {
    font-family: RobotoM !important;
}

.Roboto_bold {
    font-family: RobotoB;
}

.txt-white {
    color: white !important;
}

.bold {
    font-weight: bold;
}

.icono-salir {
    display: none;
}

.icono-menu {
    display: none;
}

.headerprincipal-index-daktico {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 999;
}

.admin-index-daktico {
    width: 100%;
    height: 40px;
    background: #130B24;
    color: #E8E2F6;
    display: flex;
    justify-content: right;
}

.admin-index-daktico span {
    font-family: CoreSans;
    font-size: 14px;
    margin-right: 40px;
    cursor: pointer;
}

.admin-index-daktico div {
    display: flex;
    align-items: center;
}

.admin-index-daktico div span {
    margin-left: 5px;
}

.menu-index-daktico {
    width: 100%;
    height: 70px;
    position: relative;
    background: #fff;
    color: #351F65 !important;
    display: flex;
    box-shadow: 0px 3px 6px #00000029;
}


.menu-index-daktico a {
    color: #351F65 !important;
    font-family: JosefinB;
    font-size: 19px;
}

.logo-index-daktico {
    width: 10%;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.itemsmenu-index-daktico {
    width: 90%;
    display: flex;
    justify-content: right;
}

.itemsmenu-index-daktico .items-index {
    display: flex;
    align-items: center;
}

.itemsmenu-index-daktico div span {

    font-weight: bold;
    margin-right: 50px;
}

#btndemo-menu {
    margin-right: 50px;
}

.btndemo-index-daktico {
    width: 150px;
    height: 40px;
    background: #F4364C;
    color: #fff;
    border: 2px solid #F4364C;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.btndemo-index-daktico:hover {
    cursor: pointer;
    color: #F4364C;
}

.btndemo-index-daktico::after {
    content: "";
    background: #fff;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0) rotate(-180deg);
    transition: all 0.4s ease;
}

.btndemo-index-daktico:hover::after {
    transition: all 0.4s ease-out;
    transform: scale(1, 1) rotate(0deg);
}




.container-formulario {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    background-color: #ded5f263;
    padding: 40px;
    margin-top: 150px;
    margin-bottom: 100px;
}

.titulo-formulario {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 42px;
    color: #351F65;
    font-family: JosefinSB;
}

.descripcion-formulario {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 50px;
    font-size: 16px;
    color: #93328E;
    font-family: CoreSans;
}

.containergrid-formulario {
    width: 80%;
    margin-left: auto;
    margin-right: auto;


}

.gridformulario {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 20px;

}

.inputText {
    width: 80%;
    border: 1px solid #DED5F2;
    background: #FFFFFF;
    color: #9A8FB2 !important;
    border-radius: 17px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    outline-color: #DED5F2;


}

.centrado {
    margin-left: auto !important;
    margin-right: auto !important;
}

.inputTextarea {
    width: 90% !important;
    margin-bottom: 20px;
}

.inputSelect {
    width: 90% !important;
    padding-right: 30px
}

select {
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-image: none;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 90%;
    border-radius: .25em;
    overflow: hidden;
}

.select::after {
    content: '\2B9B';
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 15px;
    padding-top: 7px;
    font-size: 20px;
    color: #9A8FB2;
    transition: .25s all ease;
    pointer-events: none;
}

.select:hover::after {
    color: #F4364C;
}

input::-webkit-calendar-picker-indicator {
    opacity: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.confian-index-daktico {
    width: 100%;
    height: max-content;
    background: white;
    padding-top: 50px;

}

.cargoopinion {
    margin-top: 10px;
    color: #666666;
    font-size: 16px;
    font-family: NunitoI;
}

.gridconfian-index-daktico {

    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding-bottom: 50px;
}

.gridconfian-index-daktico img {
    width: 170px;
}

.textconfian-index-daktico {
    margin-top: 50px;
    margin-bottom: 70px;
    width: 100%;
    text-align: center;
    color: #351F65;
}

.imgplomo {
    filter: grayscale(1);
}

.imgplomo:hover {

    filter: grayscale(0);

}

.textconfian-index-daktico div span {
    font-family: JosefinB;
    font-size: 36px;
    padding-bottom: 7px;
    /* border-bottom: 1pt solid #6666; */
}

.gridconfian-index-daktico div {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

footer {
    background: #130B24;
    width: 100%;
}

.gridprincipalfooter-index-daktico {

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 90px;
    padding-bottom: 50px;
    border-bottom: 1px solid #28174B;
}

.gridprincipalfooter-index-daktico div {
    margin-left: auto;
    margin-right: auto;
}

.gridprincipalfooter-index-daktico div div {
    font-family: JosefinR;
    margin-bottom: 30px;
    font-size: 18px;
}

.gridprincipalfooter-index-daktico div div a {
    text-decoration: none;
    color: #DED5F2;
    margin-top: 50px;


}

.gridprincipalfooter-index-daktico div div a img {
    height: 15px;
    width: 15px;


}

.gridprincipalfooter-index-daktico div div a span {
    padding-left: 10px;
}

.textfinalfooter-index-daktico {
    width: 100%;
    text-align: center;
    font-family: JosefinR;
    font-size: 16px;
    color: #DED5F2;
    margin-top: 30px;

}

.copyright-index-daktico {
    width: 100%;
    text-align: center;
    font-family: JosefinR;
    font-size: 13px;
    color: #9A8FB2;
    margin-top: 30px;
    padding-bottom: 15px;
}

@media (max-width: 599px) {


    .container-formulario {
        width: 80%;
        padding: 20px;
        margin-top: 120px;
        margin-bottom: 0px;
    }

    .titulo-formulario {
        font-size: 32px;
    }

    .descripcion-formulario {
        width: 90%;
        font-size: 14px;
    }


    .gridformulario {

        grid-template-columns: 100%;
        margin-bottom: 0px;
    }

    .gridformulario .inputText {
        margin-bottom: 20px;

    }

    .confian-index-daktico {
        margin-top: 0px;
    }

    .gridconfian-index-daktico {
        width: 90%;
        grid-template-columns: 50% 50%;
        margin-left: auto;
        margin-right: auto;

    }

    .gridconfian-index-daktico img {
        width: 100px;
    }


    .gridprincipalfooter-index-daktico {
        grid-template-columns: 100%;
        justify-content: center;
    }

    .gridprincipalfooter-index-daktico div {
        width: max-content;
        margin-left: 0px;
        margin-right: 0px;
    }

    .imglogo-footer {
        margin-bottom: 20px;
    }
}

@media (min-width: 600px) and (max-width: 999px) {
    .gridconfian-index-daktico {
        width: 90%;
        grid-template-columns: 33% 33% 33%;
        margin-left: auto;
        margin-right: auto;

    }

    .container-formulario {
        width: 80%;
        padding: 20px;
    }

    .containergrid-formulario {
        width: 90%;

    }

    .gridconfian-index-daktico img {
        width: 130px;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {

    .container-formulario {
        width: 60%;
        padding: 20px;
    }

    .containergrid-formulario {
        width: 90%;

    }
}


/* RESPONSIVE PANTALLAS GRANDES HD */
@media (min-width: 2000px) {
    .container-formulario {
        margin-top: 210px;
        width: 50%;
    }

    .containergrid-formulario {
        width: 90%;
    }

    .titulo-formulario {
        font-size: 62px;
    }

    .descripcion-formulario {
        font-size: 32px;
    }

    .gridformulario div {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .inputText {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        height: 45px;
        font-size: 26px;

    }

    .inputSelect {
        width: 100% !important;
        height: 100% !important;
    }

    .select::after {
        padding-top: 5px;
        font-size: 40px;

    }

    .divtextarea {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .inputTextarea {
        width: 98% !important;
        height: 200px !important;
    }

    .btn1F {
    width: 350px;
    height: 100px;
    font-size: 32px;
    }
    .textconfian-index-daktico div span {
        font-size: 62px;
    }
    .gridconfian-index-daktico img {
        width: 350px;
    }
    .imglogo-footer img {
        width: 300px;
    }

    .gridprincipalfooter-index-daktico div div {
        font-size: 34px;
    }
    .gridprincipalfooter-index-daktico div div a img {
        height: 30px;
        width: 30px;
    }
    .textfinalfooter-index-daktico {
        font-size: 30px;
    }
    .copyright-index-daktico {
        font-size: 27px;
    }
}

/* FIIINN RESPONSIVE PANTALLAS GRANDES HD */
/* MENU RESPONSIVO */

@media (max-width: 700px) {
    .icono-menu {
        display: block;
        width: 45px;
        height: 45px;
        cursor: pointer;
    }

    .admin-index-daktico {
        width: 100%;
        display: block;
        height: 25px;
    }

    .admin-index-daktico span {
        font-size: 12px;
        margin-right: 10px;
    }

    .admin-index-daktico div {
        margin-left: 5px;
        justify-content: center;
        height: 100%;
    }

    .admin-index-daktico div span {
        margin-left: 0px;
    }

    .menu-index-daktico {
        width: 100%;
        height: max-content;
        display: block;
        padding-bottom: 0px;
    }

    .logo-index-daktico {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;

    }

    .logo-index-daktico a {

        justify-content: center;
        width: 70%;
        display: flex;
    }

    .logo-index-daktico a img {
        width: 150px;
    }

    #divMenu {
        display: none;
    }

    .itemsmenu-index-daktico {
        width: 100%;
        display: block;
        justify-content: right;
    }

    .itemsmenu-index-daktico .items-index {
        text-align: center;
        display: block;
        align-items: center;
        padding-bottom: 10px;

    }

    .itemsmenu-index-daktico .items-index div {
        margin-top: 10px;
    }

    .itemsmenu-index-daktico div span {
        font-weight: bold;
        margin-right: 0px;
    }

    #btndemo-menu {
        margin-right: auto;
    }

    .btndemo-index-daktico {
        width: 120px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px !important;

    }
}

@media (min-width: 701px) and (max-width: 800px) {
    .logo-index-daktico {
        width: 20%;
        margin-left: 10px;
    }

    .itemsmenu-index-daktico {
        width: 80%;
    }

    .logo-index-daktico a img {
        width: 100px;
    }

    .itemsmenu-index-daktico div a span {
        margin-left: 15px;
        font-weight: bold;
        margin-right: 15px;
    }

    .btndemo-index-daktico {
        width: 120px;
    }
}

@media (min-width: 801px) and (max-width: 1200px) {
    .logo-index-daktico {
        width: 20%;
        margin-left: 10px;
    }

    .itemsmenu-index-daktico {
        width: 80%;
    }

    .logo-index-daktico a img {
        width: 120px;
    }


}

@media (min-width: 2000px) {
    .admin-index-daktico {
        height: 50px;
    }

    .admin-index-daktico span {
        font-size: 24px;
    }

    .admin-index-daktico img {
        width: 25px !important;
        height: 25px !important;
    }

    .logo-index-daktico a img {
        width: 300px;
    }

    .admin-index-daktico div span {
        margin-left: 10px;
    }

    .menu-index-daktico {
        height: 120px;
    }

    .menu-index-daktico a {
        font-size: 36px;
    }

    .btn1M {
        width: 250px;
        font-size: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

/* FIN MENU RESPONSIVO */