@font-face {
    font-family: Gotham;
    src: url(../font/Gotham\ Book\ Font.otf);
}

@font-face {
    font-family: Pacifico;
    src: url(../font/Pacifico.ttf);
}

@font-face {
    font-family: JosefinB;
    src: url(../font/JosefinSans-Bold.ttf);
}

@font-face {
    font-family: JosefinSB;
    src: url(../font/JosefinSans-SemiBold.ttf);
}

@font-face {
    font-family: JosefinR;
    src: url(../font/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: CoreSans;
    src: url(../font/Core\ Sans\ M\ 45\ Regular.ttf);
}

@font-face {
    font-family: RobotoB;
    src: url(../font/Roboto-Bold.ttf);
}

@font-face {
    font-family: RobotoM;
    src: url(../font/Roboto-Medium.ttf);
}

@font-face {
    font-family: JosefinI;
    src: url(../font/JosefinSans-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: NunitoI;
    src: url(../font/Nunito-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: ItimR;
    src: url(../font/Itim-Regular.ttf);
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Gotham;

}

#app {
    height: 100%;
    width: 100%;

}

.nonecarac {
    display: none !important;
}

a {
    text-decoration: none;
    color: snow;
}

.Roboto_medium {
    font-family: RobotoM !important;
}

.Roboto_bold {
    font-family: RobotoB;
}

.txt-white {
    color: white !important;
}

.bold {
    font-weight: bold;
}

.icono-salir {
    display: none;
}

.icono-menu {
    display: none;
}

.headerprincipal-index-daktico {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 999;
}

.admin-index-daktico {
    width: 100%;
    height: 40px;
    background: #130B24;
    color: #E8E2F6;
    display: flex;
    justify-content: right;
}

.admin-index-daktico span {
    font-family: CoreSans;
    font-size: 14px;
    margin-right: 40px;
    cursor: pointer;
}

.admin-index-daktico div {
    display: flex;
    align-items: center;
}

.admin-index-daktico div span {
    margin-left: 5px;
}

.menu-index-daktico {
    width: 100%;
    height: 70px;
    position: relative;
    background: #fff;
    color: #351F65 !important;
    display: flex;
    box-shadow: 0px 3px 6px #00000029;
}


.menu-index-daktico a {
    color: #351F65 !important;
    font-family: JosefinB;
    font-size: 19px;
}

.logo-index-daktico {
    width: 10%;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.itemsmenu-index-daktico {
    width: 90%;
    display: flex;
    justify-content: right;
}

.itemsmenu-index-daktico .items-index {
    display: flex;
    align-items: center;
}

.items-index div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemsmenu-index-daktico div a {

    font-weight: bold;
    margin-right: 50px;
}

.btn1f4 {
    margin-top: 0px !important;
}

#btndemo-menu {
    margin-right: 50px;
}

.btndemo-index-daktico {
    width: 150px;
    height: 40px;
    background: #F4364C;
    color: #fff;
    border: 2px solid #F4364C;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.btndemo-index-daktico:hover {
    cursor: pointer;
    color: #F4364C;
}

.btndemo-index-daktico::after {
    content: "";
    background: #fff;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0) rotate(-180deg);
    transition: all 0.4s ease;
}

.btndemo-index-daktico:hover::after {
    transition: all 0.4s ease-out;
    transform: scale(1, 1) rotate(0deg);
}

.btndemo2-index-daktico {
    width: 150px;
    height: 40px;
    background: #fff;
    color: #351F65;
    border: 1px solid #351F65;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.btndemo2-index-daktico:hover {
    cursor: pointer;
    color: #FFFFFF;
}

.btndemo2-index-daktico::after {
    padding: 16px 20px;
    content: "";
    background: #351F65;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0) rotate(-180deg);
    transition: all 0.4s ease;
}

.btndemo2-index-daktico:hover::after {
    transition: all 0.4s ease-out;
    transform: scale(1, 1) rotate(0deg);
}

.bodyprincipal-index-daktico {
    padding-top: 123px;
}

.contenedorprincipal-index-daktico {
    width: 100%;
    height: max-content;

    background: linear-gradient(80deg, #804BF2, #804BF2, #5532a1, #5532a1);
}

.gridprincipal-index-daktico {
    display: grid;
    grid-template-columns: 50% 50%;
    color: #fff;
    margin-top: 50px;
}

.fila1principal-index-daktico h4 {

    margin-left: 100px;
    font-family: JosefinSB;
    margin-bottom: 0px;
}

.bnrblanco-fondo {

    width: 668px;
    height: 180px;
    background: white;
    position: absolute;
    margin-top: 10px;

}

.fila2principal-index-daktico {
    width: 645px;
    height: 200px;
    font-family: JosefinB;
    padding-left: 15px;
    margin-top: 5px;
    background: #351F65;
    position: relative;

}

.fila2principal-index-daktico h2 {
    margin-top: 0px;
    text-align: left;
    padding-left: 100px;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-left: -15px;
    font-size: 38px;
    font-weight: normal !important;
    margin-bottom: 0px;


}


.fila3principal-index-daktico {
    font-family: CoreSans;
    margin-top: 30px;
    width: 70%;
    margin-left: 100px;
    text-align: left;
    font-size: 20px;
}

.fila3principal-index-daktico h3 {
    font-weight: normal;
}

.item2principal-index-daktico {
    overflow: hidden;
    width: 100%;

}

.groupimg-item2 {
    position: absolute;
}

.divimgsimbolo {
    width: 100%;
    overflow-y: hidden;
    justify-content: center;
    display: flex;
}

.imgsimbolo-item2 {
    width: 420px;
    height: 480px;
    z-index: 1;
    position: relative;

}

.fila4principal-index-daktico {
    width: 100%;
    text-align: center;

    margin-top: 50px;
    margin-bottom: 130px;

}

.group-botones-fila4 {
    display: flex;
    width: 55%;
    margin-left: 70px
}


.opinion-index-daktico {
    width: 100%;
    height: max-content;
    background: white;

}

.gridopinion-index-daktico {

    display: grid;
    grid-template-columns: 10% 70% 20%;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.groupopinion-index-daktico {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 20px;
}

.groupopinion-index-daktico span {
    color: #505050;
    font-size: 24px;
    font-family: JosefinI;
}

.nombreopinion {
    margin-top: 20px;
    font-family: JosefinR;
    font-size: 21px;
}

.cuerpoopinion {
    margin-left: 20px;
}

.groupimgopinion {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.img1-opinion {
    bottom: 100px;
    position: relative;
}

.img2-opinion {
    background-color: #505050;
    bottom: 20px;
    position: relative;
}

.img3-opinion {
    bottom: 50px;
    position: relative;
}

.confian-index-daktico {
    width: 100%;
    height: max-content;
    background: white;
    padding-top: 50px;

}

.cargoopinion {
    margin-top: 10px;
    color: #666666;
    font-size: 16px;
    font-family: NunitoI;
}

.gridconfian-index-daktico {

    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding-bottom: 50px;
}

.gridconfian-index-daktico img {
    width: 170px;
}

.textconfian-index-daktico {
    margin-top: 50px;
    margin-bottom: 70px;
    width: 100%;
    text-align: center;
    color: #351F65;
}

.imgplomo {
    filter: grayscale(1);
}

.imgplomo:hover {

    filter: grayscale(0);

}

.textconfian-index-daktico div span {
    font-family: JosefinB;
    font-size: 36px;
    padding-bottom: 7px;

}

.gridconfian-index-daktico div {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.bordefinal-index-daktico {
    width: 100%;
    height: 100px;
    background: linear-gradient(80deg, #804BF2, #804BF2, #763079, #763079);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: absolute;
}

.caracteristicas-index-daktico {
    width: 100%;
    height: max-content;
    background: #F4F4F4;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    padding-bottom: 100px;

}

.imgestrella-index-daktico {
    width: 100%;
    padding-top: 50px;
    text-align: center;
    position: absolute;
    z-index: 1;
}

.textcaracteristicas-index-daktico {
    padding-top: 200px;
    width: 100%;
    text-align: center;
    font-family: JosefinB;
    font-size: 36px;
    color: #351F65;
}

.bodycaracteristicas-index-daktico {
    width: 100%;
    margin-top: 50px;
}

.gridcaracteristicas-index-daktico {

    display: grid;
    grid-template-columns: 50% 50%;
}


.column1caracteristicas-index-daktico {
    width: 60%;
    margin: auto;
}

.itemcolum1caracteristicas {
    color: #666666;
    margin-top: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: CoreSans;


}

.itemcolum1caracteristicas img {
    width: 30px;
    height: 30px;
    padding-right: 5px;
}

.column1caracteristicas-index-daktico .itemcolum1caracteristicas span {
    padding-left: 80px;
}

.itemcarac {
    margin-left: 30px;
    width: 400px;
    height: 50px;
    border: 1px solid #9A8FB2;
    margin-right: 30px;
    border-radius: 6px;

    display: flex;
    align-items: center;
}

.itemcarac span {
    cursor: pointer;

    display: flex;
    align-items: center;
    height: 10px;
    position: absolute;
    width: 310px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 20px;
    background: #DED5F2;
    border-radius: 5px;
    color: #000 !important;
    font-size: 19px;
    font-weight: normal !important;

}

.itemcaracteristicaseleccionado {

    margin-left: 0px !important;

}

.itemcaracteristicaseleccionado span {
    color: #fff !important;
    padding-left: 80px !important;
    background: #804BF2;
    font-size: 19px;

}

.btncaracteristicas {
    width: 250px !important;
    height: 50px;
    padding: 0px 5px;
    display: flex;
    align-items: center;


}

.btncaracteristicas span {
    width: 250px;
    height: 50px;
    padding: 0px 5px;
    font-size: 18px;
    padding-left: 0px !important;
}

.divimg-caracteristicas {

    margin-top: 20px;
    width: 350px;
    text-align: justify;

}

.divimg-caracteristicas div {
    width: max-content;
    z-index: 9;
    position: relative;
}

.imggif-index-daktico {
    height: 250px;
    width: 350px;
    border-radius: 15px;
    color: #666666;
}

.cajabtn {
    width: 100% !important;
    justify-content: center;
    display: flex;
}

.bgcuadrado-caracteristicas {
    position: absolute;
    right: -15px;
    top: -15px;
}

.bgpunto-caracteristicas {
    position: absolute;
    right: 100px;
}

.bgmas-caracteristicas {
    position: absolute;
    right: -140px;
    top: 30px;
}

.opinan-index-daktico {
    margin-top: 50px;
    width: 100%;
    height: max-content;
    padding-bottom: 30px;
}

fieldset {
    height: max-content;
    padding-bottom: 70px;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 10px;
    border: 3px solid #DED5F2;
}

.textopinan-index-daktico {
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    font-family: JosefinB;
    font-size: 36px;
}

.gridopinan-index-daktico {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 50px;
}

.cardopinan-index-daktico {
    height: max-content;
    width: 80%;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 8px #00000029;


}

.cuerpo-cardopinan {
    padding-top: 50px;
    color: #666666;
    padding-left: 50px;
    padding-right: 50px;
    font-family: CoreSans;
    line-height: 2em;
    letter-spacing: 0.5px;
    padding-bottom: 10px;

}

.opinannone {
    display: none;
}

.leermas-index-daktico {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: left;
    margin-top: 20px;

    font-weight: bold;
    padding-bottom: 20px;
}

.leermas-index-daktico span {
    color: #F4364C !important;
    font-size: 16px !important;

}

.leermas-index-daktico img {
    margin-left: 10px;
}

.btnMasInformacion {
    background: #fff;
    width: max-content;
    border-radius: 5px;
    border: 2px solid #351F65;
    color: #351F65;
    margin-bottom: 5px;
    cursor: pointer;
}

.btnMasInformacion span {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;

    font-weight: RobotoB;
    font-weight: 400;
}

.btnMasInformacion:hover {
    background: #351F65;
    color: #fff;
    border: 2px solid #fff;
}

.gridautor-index-daktico {
    display: grid;
    grid-template-columns: 100%;
    margin-top: 20px;
}

.cardautor-index-daktico {
    height: max-content;
    width: 80%;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.cardautor-index-daktico img {
    height: 50px;
    width: 100px;

}

.cardautor-index-daktico div {
    margin-top: 10px;
    font-family: JosefinR;

}

.banerdiseñamos {
    background-image: url(../img/baner-diseñamos.png);
    background-repeat: no-repeat;
    background-size: 100% 220px;
    width: 100%;



}

.griddiseñamos {
    width: 100%;
    display: grid;
    grid-template-columns: 65% 35%;
}

.text-diseñamos {
    width: 100%;
    justify-content: flex-end;
    height: 200px;
    align-items: center;
    display: flex;
    color: #351F65;
    font-size: 18px;
}

.btndiseñamos {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.btndiseñamos div {
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url(../img/banner-home-boton.png);
    width: 377px;
    height: 63px;
    font-family: ItimR;
    font-size: 32px;
    color: #FFFFFF;

    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.btndiseñamos p {
    color: #351F65;
    /* font-family: NunitoI; */
    font-size: 14px;
    font-weight: bold;
}

footer {
    background: #130B24;
    width: 100%;
}

.gridprincipalfooter-index-daktico {

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 90px;
    padding-bottom: 50px;
    border-bottom: 1px solid #28174B;
}

.gridprincipalfooter-index-daktico div {
    margin-left: auto;
    margin-right: auto;
}

.gridprincipalfooter-index-daktico div div {
    font-family: JosefinR;
    margin-bottom: 30px;
    font-size: 18px;
}

.gridprincipalfooter-index-daktico div div a {
    text-decoration: none;
    color: #DED5F2;
    margin-top: 50px;


}

.gridprincipalfooter-index-daktico div div a img {
    height: 15px;
    width: 15px;


}

.gridprincipalfooter-index-daktico div div a span {
    padding-left: 10px;
}

.textfinalfooter-index-daktico {
    width: 100%;
    text-align: center;
    font-family: JosefinR;
    font-size: 16px;
    color: #DED5F2;
    margin-top: 30px;

}

.copyright-index-daktico {
    width: 100%;
    text-align: center;
    font-family: JosefinR;
    font-size: 13px;
    color: #9A8FB2;
    margin-top: 30px;
    padding-bottom: 15px;
}

@media (max-width: 330px) {
    .bnrblanco-fondo {
        width: 295px;
        height: 150px;
        background: white;
        position: absolute;
        margin-top: 10px;

    }

    .fila2principal-index-daktico {
        width: 270px;
        height: 170px;
    }

    .fila2principal-index-daktico h2 {
        padding-left: 10px;
        font-size: 28px;
        font-weight: normal !important;

    }

    .group-botones-fila4 {
        display: flex;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 100px) and (max-width: 1000px) {
    .fila2principal-index-daktico h2 {
        padding-left: 10px;
        font-size: 28px;
        font-weight: normal !important;


    }

}

@media (min-width: 330px) and (max-width: 400px) {
    .bnrblanco-fondo {
        width: 325px;
        height: 140px;
        background: white;
        position: absolute;
        margin-top: 10px;

    }

    .fila2principal-index-daktico {
        width: 300px;
        height: 160px;
    }

    .group-botones-fila4 {
        display: flex;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (min-width: 401px) and (max-width: 500px) {
    .bnrblanco-fondo {
        width: 375px;
        height: 120px;
        background: white;
        position: absolute;
        margin-top: 10px;

    }

    .fila2principal-index-daktico {
        width: 350px;
        height: 140px;
    }

    .group-botones-fila4 {
        display: flex;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 501px) and (max-width: 600px) {
    .bnrblanco-fondo {
        width: 475px;
        height: 110px;
        background: white;
        position: absolute;
        margin-top: 10px;

    }

    .fila2principal-index-daktico {
        width: 450px;
        height: 130px;
    }

    .group-botones-fila4 {
        display: flex;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 601px) and (max-width: 800px) {
    .bnrblanco-fondo {
        width: 525px;
        height: 110px;
        background: white;
        position: absolute;
        margin-top: 10px;

    }

    .fila2principal-index-daktico {
        width: 500px;
        height: 130px;
    }

    .group-botones-fila4 {
        display: flex;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 801px) and (max-width: 1000px) {
    .bnrblanco-fondo {
        width: 395px;
        height: 110px;
        background: white;
        position: absolute;
        margin-top: 10px;

    }

    .fila2principal-index-daktico {
        width: 370px;
        height: 130px;
    }

    .group-botones-fila4 {
        display: flex;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1001px) and (max-width: 1200px) {
    .bnrblanco-fondo {
        width: 495px;
        height: 180px;
        background: white;
        position: absolute;
        margin-top: 10px;

    }

    .fila2principal-index-daktico {
        width: 470px;
        height: 200px;
    }

    .group-botones-fila4 {
        display: flex;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1201px) and (max-width: 1300px) {
    .bnrblanco-fondo {
        width: 525px;
        height: 180px;
        background: white;
        position: absolute;
        margin-top: 10px;

    }

    .fila2principal-index-daktico {
        width: 500px;
        height: 200px;
    }

    .group-botones-fila4 {
        display: flex;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }
}


/* RESPONSIVE PANTALLAS GRANDES EN HD */
@media (min-width: 2000px) {
    

    .bodyprincipal-index-daktico {
        padding-top: 130px;
        padding-bottom: 130px;
    }
    .fila1principal-index-daktico{
        margin-top: 100px;
    }
    .fila4principal-index-daktico {
        margin-top: 130px;
        margin-bottom: 100px;
    }
    .fila1principal-index-daktico h4 {
        font-size: 30px;
    }

    .bnrblanco-fondo {
        width: 975px;
        height: 280px;
        background: white;
        position: absolute;
        margin-top: 10px;

    }

    .fila2principal-index-daktico {
        width: 950px;
        height: 300px;
    }

    .fila2principal-index-daktico h2 {

        text-align: left;
        padding-left: 100px;
        padding-top: 55px;
        padding-bottom: 50px;
        margin-left: -15px;
        font-size: 58px;
        font-weight: normal !important;
        margin-bottom: 0px;
    }

    .fila3principal-index-daktico h3 {
        font-size: 30px;
    }

    .btn1f4 {
        width: 300px !important;
        font-size: 24px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .btn2f4 {
        margin-left: 50px;
        width: 300px !important;
        font-size: 24px;
        padding-top: 15px;
        padding-bottom: 15px;
        height: 40px;

    }

    .imgestrella-index-daktico {
        position: relative;

    }

    .imgestrella-index-daktico img {
        width: 300px;
    }

    .textcaracteristicas-index-daktico {
        padding-top: 30px;
        font-size: 60px;
    }

    .column1caracteristicas-index-daktico {
        width: max-content;
        margin: auto;
    }

    .column2caracteristicas-index-daktico {
        width: max-content !important;
        margin: auto;
        margin-top: 0px;
        position: inherit !important;
    }

    .divimg-caracteristicas {
        width: max-content;
        position: relative !important;
    }

    .grupoimg-caracteristicas {
        margin-top: -487px !important;
        right: 104px !important;

    }



    .imgopinion-center img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        background-size: contain;
    }

    .groupopinion-index-daktico span {
        font-size: 40px;
    }

    .nombreopinion {
        font-size: 37px;
    }

    .cargoopinion {
        font-size: 30px;
    }

    .leermas-index-daktico span {
        font-size: 30px !important;
    }

    .leermas-index-daktico img {
        width: 50px;
        height: 30px;
    }

    .itemcolum1caracteristicas {
        margin-top: 50px;
    }

    .itemcaracteristicaseleccionado span {
        width: 625px !important;
        font-size: 36px !important;
    }

    .itemcarac {
        width: 700px;
        height: 100px;
    }

    .itemcarac span {
        width: 625px;
        height: 100px;
        font-size: 36px;
    }

    .imggif-index-daktico {
        width: 800px;
        height: 586px;
        border-radius: 44px;
    }

    .btncaracteristicas {
        width: 400px !important;
        height: 65px;
        padding: 0px 5px;
        display: flex;
        align-items: center;
        font-size: 34px;
    }

    .grupoimg-caracteristicas {
        overflow: hidden;
        width: 390px;
        margin-top: -50px;
        height: 400px;
        position: absolute;
        right: 150px;
        z-index: -1;
    }

    .bgpunto-caracteristicas {

        left: 0px;
        margin-left: 50px;
    }

    .bgcuadrado-caracteristicas {
        position: absolute;
        right: 145px;
        top: -15px;
    }

    .bgmas-caracteristicas {
        position: absolute;
        right: 0px;
        top: 70px;
    }

    .textconfian-index-daktico div span {
        font-size: 60px;
    }

    .gridconfian-index-daktico img {
        width: 300px !important;
    }

    .text-diseñamos {
        font-size: 36px;
    }

    .btndiseñamos div {
        background-repeat: no-repeat;
        background-size: contain;
        width: 550px;
        height: 100px;
        font-size: 50px;
        text-shadow: 5px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    }

    .btndiseñamos p {
        font-size: 28px;
        margin-top: 0px;
    }

    .imglogo-footer img {
        width: 300px;
    }

    .gridprincipalfooter-index-daktico div div {
        font-size: 34px;
    }
    .gridprincipalfooter-index-daktico div div a img {
        height: 30px;
        width: 30px;
    }
    .textfinalfooter-index-daktico {
        font-size: 30px;
    }
    .copyright-index-daktico {
        font-size: 27px;
    }
}

@media (min-width: 2500px) {}


/* FIIINNN RESPONSIVE PANTALLAS GRANDES EN HD */





@media (max-width: 424px) {

    .column1caracteristicas-index-daktico {
        width: max-content !important;
        margin-left: auto;
        margin-right: auto;
    }

    .column1caracteristicas-index-daktico .itemcolum1caracteristicas span {
        padding-left: 30px;

    }

    .itemcaracteristicaseleccionado span {
        padding-left: 10px !important;
        font-size: 14px !important;
        width: 215px !important;
    }
}

@media (max-width: 599px) {

    .contenedorprincipal-index-daktico {
        width: 100%;
        height: max-content;
        padding-bottom: 50px;
        background: linear-gradient(80deg, #804BF2, #804BF2, #5532a1, #5532a1);
    }

    .gridprincipal-index-daktico {
        grid-template-columns: 100%;
    }

    .fila1principal-index-daktico h4 {
        font-size: 15px;
        margin-left: 10px;
    }




    .fila3principal-index-daktico {
        margin-top: 30px;
        width: 90%;
        margin-left: 10px;
        text-align: left;
        font-size: 18px;
    }

    .fila4principal-index-daktico {
        width: 100%;
        text-align: center;
        margin-left: 0px;
        margin-top: 50px;

    }



    .columnaprincipal2-index-daktico {
        display: none;
    }


    .gridopinion-index-daktico {

        display: grid;
        grid-template-columns: 100%;
        padding-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .gridopinion-index-daktico img {
        margin-bottom: 20px;
    }

    .groupopinion-index-daktico {
        flex-direction: column;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .cuerpoopinion {
        margin-left: 0px;
    }

    .imgopinion-center {
        display: flex;
        justify-content: center;
    }


    .gridconfian-index-daktico {
        width: 90%;
        grid-template-columns: 50% 50%;
        margin-left: auto;
        margin-right: auto;

    }

    .gridconfian-index-daktico img {
        width: 100px;
    }

    /*  */

    .caracteristicas-index-daktico {

        width: 100%;
        height: max-content;
        background: #F4F4F4;
        border-bottom-left-radius: 70px;
        border-bottom-right-radius: 70px;
        padding-bottom: 100px;

    }

    .textcaracteristicas-index-daktico {
        padding-top: 180px;
        font-size: 32px;
    }

    .bodycaracteristicas-index-daktico {
        margin-top: 20px;
    }

    .gridcaracteristicas-index-daktico {
        width: 100%;
        grid-template-columns: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .itemcarac {
        margin-left: 30px !important;
        width: 250px;
    }

    .itemcarac span {
        width: 200px;
        font-size: 14px;
    }

    .column1caracteristicas-index-daktico .itemcolum1caracteristicas span {
        padding-left: 50px;
    }


    .column1caracteristicas-index-daktico {
        width: max-content;
        margin-left: auto;
        margin-right: auto;
    }



    .itemcaracteristicaseleccionado {
        margin-left: 0px !important;

        height: 50px;
    }

    .itemcaracteristicaseleccionado span {
        justify-content: left;
        padding-left: 40px !important;
        width: 210px;
        height: 50px;
        font-size: 16px;

    }

    .btncaracteristicas {
        width: 200px;
        height: 50px;
        padding: 0px 5px;
        display: flex;
        align-items: center;

    }

    .btncaracteristicas span {
        width: 200px;
        height: 50px;
        padding: 0px 5px;
        font-size: 18px;
    }


    .divimg-caracteristicas {
        margin-top: 20px !important;
        width: 100% !important;
        text-align: justify;
    }

    .imggif-index-daktico {
        height: 250px;
        width: 300px;
        border-radius: 15px;
        color: #666666;
    }

    .descimg-caracteristicas-index-daktico {
        height: max-content;
        width: 100% !important;

    }

    .grupoimg-caracteristicas {
        display: none;
    }

    /*  */

    fieldset {
        margin-left: 15px;
        margin-right: 15px;
    }

    .textopinan-index-daktico {
        font-size: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .gridopinan-index-daktico {
        grid-template-columns: 100%;
    }


    .cardopinan-index-daktico {
        width: 95%;
    }

    .cuerpo-cardopinan {
        padding-left: 30px;
        padding-right: 30px;
    }

    .leermas-index-daktico img {
        margin-left: 7px;
        margin-bottom: 0px !important;
    }

    .gridautor-index-daktico {
        padding-bottom: 40px;
    }

    .cardautor-index-daktico {
        width: 90%;
    }

    .banerdiseñamos {

        background-size: auto 420px;
        width: 100%;

    }

    .griddiseñamos {

        grid-template-columns: 100%;
    }

    .text-diseñamos {
        width: 100%;
        text-align: center;
        display: block;
        margin-top: 40px;
        height: auto;

    }

    .btndiseñamos {
        width: 100%;
        height: max-content;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
    }

    .btndiseñamos div {

        background-size: 280px 60px;
        background-repeat: no-repeat;
        width: 280px;
        height: 60px;
        font-size: 28px;

    }

    .btndiseñamos p {
        color: #351F65;
        /* font-family: NunitoI; */
        font-size: 14px;
        font-weight: bold;
    }

    .gridprincipalfooter-index-daktico {
        grid-template-columns: 100%;
        justify-content: center;
    }

    .gridprincipalfooter-index-daktico div {
        width: max-content;
        margin-left: 0px;
        margin-right: 0px;
    }

    .imglogo-footer {
        margin-bottom: 20px;
    }
}

@media (max-width: 800px) {
    .column2caracteristicas-index-daktico {

        margin: auto;
        margin-top: 20px;
    }
}

@media (min-width: 600px) and (max-width: 700px) {


    .gridcaracteristicas-index-daktico {
        width: 90%;
        grid-template-columns: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .grupoimg-caracteristicas {
        display: none;
    }

}

@media (min-width: 600px) and (max-width: 800px) {
    .griddiseñamos {
        grid-template-columns: 50% 50%;
    }

    .btndiseñamos div {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 280px;
        font-size: 20px;
    }

    .text-diseñamos {
        text-align: center;
    }

    .imglogo-footer {
        display: none;
    }

    .gridprincipal-index-daktico {
        grid-template-columns: 100%;
    }

    .gridprincipalfooter-index-daktico {

        grid-template-columns: 33% 33% 33%;
        margin-left: 80px;
        margin-right: 80px;
        padding-top: 60px;
        padding-bottom: 50px;
        border-bottom: 1px solid #28174B;
    }

    .gridconfian-index-daktico img {
        width: 150px;
    }

    .columnaprincipal2-index-daktico {
        display: none;
    }

    .cuerpo-cardopinan {
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        font-family: CoreSans;
        line-height: 2em;
        letter-spacing: 0.5px;
        padding-bottom: 10px;
    }

}

@media (min-width: 801px) and (max-width: 2800px) {
    .imglogo-footer {
        display: block;
    }

    .gridprincipalfooter-index-daktico {

        grid-template-columns: 25% 25% 25% 25%;
        margin-left: 80px;
        margin-right: 80px;
        padding-bottom: 50px;
        border-bottom: 1px solid #28174B;
    }

    .gridconfian-index-daktico img {
        width: 170px;
    }
}

@media (min-width: 600px) and (max-width: 700px) {


    .column1caracteristicas-index-daktico {
        width: max-content;
        margin: auto;
    }

    .itemcarac {
        width: 385px;
    }

    .gridcaracteristicas-index-daktico {
        display: grid;
        grid-template-columns: 100%;
    }

    .imggif-index-daktico {
        width: 100% !important;
    }

    .divimg-caracteristicas {
        width: 100%;
        margin-right: 10px;
    }

    fieldset {
        margin-left: 15px;
        margin-right: 15px;
    }

    .cardopinan-index-daktico {
        width: 95%;
    }

    .cuerpo-cardopinan {

        padding-left: 15px;
        padding-right: 15px;

    }

    .leermas-index-daktico {
        padding-left: 15px;
    }
}


@media (min-width: 701px) and (max-width: 800px) {
    .column1caracteristicas-index-daktico {
        width: max-content;
        margin: auto;
    }

    .itemcarac {
        width: 385px;
    }

    .gridcaracteristicas-index-daktico {
        display: grid;
        grid-template-columns: 100%;
    }

    .grupoimg-caracteristicas {
        overflow: hidden;
        width: 380px;
        margin-top: -290px;
        height: 400px;
        position: absolute;
        right: 8px;
        z-index: 1;

    }
}

@media (min-width: 801px) and (max-width: 1020px) {
    .column1caracteristicas-index-daktico .itemcolum1caracteristicas span {
        padding-left: 30px;
    }

    .itemcaracteristicaseleccionado span {
        padding-left: 30px !important;
    }

    .itemcarac {
        width: 332px;
    }

    .gridcaracteristicas-index-daktico {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .imgsimbolo-item2 {
        width: 320px;
        height: 380px;
        z-index: 1;
        position: relative;
    }


    .column1caracteristicas-index-daktico {
        width: max-content;
        margin: auto;
    }

    .grupoimg-caracteristicas {
        overflow: hidden;
        width: 380px;
        margin-top: -290px;
        height: 400px;
        position: absolute;
        right: 8px;
        z-index: 1;

    }

    .griddiseñamos {
        grid-template-columns: 50% 50%;
    }

    .btndiseñamos div {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 280px;
        font-size: 20px;
    }

    .text-diseñamos {
        text-align: center;
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
    .contenedorprincipal-index-daktico {
        height: max-content;
        padding-bottom: 50px;

    }


    .fila1principal-index-daktico h4 {
        font-size: 18px;
        margin-left: 10px;
    }




    .fila3principal-index-daktico {
        margin-top: 30px;
        width: 90%;
        margin-left: 10px;
        text-align: left;
        font-size: 18px;
    }

    .fila4principal-index-daktico {
        width: 100%;
        text-align: center;
        margin-left: 0px;
        margin-top: 50px;

    }


    .gridconfian-index-daktico {
        width: 95%;
        grid-template-columns: auto auto auto;
    }



}

@media (min-width: 901px) and (max-width: 1020px) {
    .imggif-index-daktico {
        width: 450px;
        height: 320px;
        border-radius: 44px;
    }

    .column1caracteristicas-index-daktico {
        width: max-content;
        margin-top: 0px;
    }
}

@media (min-width: 1021px) and (max-width: 1200px) {
    .column1caracteristicas-index-daktico .itemcolum1caracteristicas span {
        padding-left: 30px;
    }

    .itemcaracteristicaseleccionado span {
        padding-left: 30px !important;
    }

    .itemcarac {
        width: 332px;
    }

    .contenedorprincipal-index-daktico {
        height: max-content;
        padding-bottom: 50px;

    }

    .imgsimbolo-item2 {
        width: 320px;
        height: 380px;
        z-index: 1;
        position: relative;
    }

    .column1caracteristicas-index-daktico {
        width: max-content;
        margin-top: 0px;
    }

    .column2caracteristicas-index-daktico {
        position: relative;
        z-index: 1;
    }

    .imggif-index-daktico {
        width: 450px;
        height: 320px;
        border-radius: 44px;
    }


    .grupoimg-caracteristicas {
        overflow: hidden;
        width: 390px;
        margin-top: -290px;
        height: 400px;
        position: absolute;
        right: 0px;
        z-index: -1;
    }

    .bgpunto-caracteristicas {

        left: 0px;
        margin-left: 50px;

    }

    .bgcuadrado-caracteristicas {
        position: absolute;
        right: 145px;
        top: -15px;
    }

    .bgmas-caracteristicas {
        position: absolute;
        right: 0px;
        top: 30px;
    }

    .griddiseñamos {

        grid-template-columns: 60% 40%;
    }
}

@media (min-width: 700px) {
    .icono-menu {
        display: none !important;
    }

    .icono-salir {
        display: none !important;
    }
}

@media (min-width: 1200px)and (max-width: 1999px) {
    .column1caracteristicas-index-daktico {
        margin-top: 0px;
    }

    .column2caracteristicas-index-daktico {
        width: 100%;
        position: relative;
        z-index: 1;
    }

    .divimg-caracteristicas {
        position: absolute;
    }

    .itemcaracteristicaseleccionado span {
        width: 310px;
        font-size: 19px;
    }

    .grupoimg-caracteristicas {
        overflow: hidden;
        width: 390px;
        margin-top: -50px;
        height: 400px;
        position: absolute;
        right: 150px;
        z-index: -1;
    }

    .bgpunto-caracteristicas {

        left: 0px;
        margin-left: 50px;
    }

    .bgcuadrado-caracteristicas {
        position: absolute;
        right: 145px;
        top: -15px;
    }

    .bgmas-caracteristicas {
        position: absolute;
        right: 0px;
        top: 70px;
    }

    .imggif-index-daktico {
        width: 450px;
        height: 320px;
        border-radius: 44px;
    }

}

/* @media (min-width: 1200px) and (max-width: 1365px) {
    .contenedorprincipal-index-daktico {
        height: max-content;
        padding-bottom: 50px;

    }

}

@media (min-width: 1600px) {

    .btndemo2-index-daktico {
        border: 1px;
        width: 250px;
    }

    .btndemo2-index-daktico::after {
        width: 250px;
    }


} */


@media (min-width: 2700px) {

    .columnaprincipal2-index-daktico {
        margin-bottom: 100px;
    }
}

/* RESPONSIVE IMG COLUMNA 2 CONTAINER PRINCIPAL */
@media (min-width: 801px) and (max-width: 900px) {
    .groupimg-item2 {
        width: 400px;
        right: 0px;
        position: absolute;
    }

    .imgcuadrado-item2 {
        margin-top: -20px;
        position: absolute;
    }

    .imgcuadrado2-item2 {
        right: 30px;
        position: absolute;
    }

    .imgcircular-item2 {
        right: 75px;
        margin-top: 200px;
        position: absolute;
    }

    .imgpunto1-item2 {
        position: absolute;
        right: 20px;
        margin-top: -20px;
    }

    .imgcirculochico-item2 {
        position: absolute;
        right: 10px;
        margin-top: 100px;
    }

    .imgpunto2-item2 {
        position: absolute;
        right: 10px;
        margin-top: 140px;
    }

    .imgc-item2 {
        overflow: hidden;
        width: 70px;
        position: absolute;
        right: 0px;
        margin-top: 160px;
    }

    .imgx-item2 {
        position: absolute;
        right: 15px;
        margin-top: 330px;
    }
}

@media (min-width: 901px) and (max-width: 1000px) {
    .groupimg-item2 {
        width: 500px;
        right: 0px;
        position: absolute;
    }

    .imgcuadrado-item2 {
        margin-top: -20px;
        position: absolute;
    }

    .imgcuadrado2-item2 {
        right: 30px;
        position: absolute;
    }

    .imgcircular-item2 {
        right: 75px;
        margin-top: 200px;
        position: absolute;
    }

    .imgpunto1-item2 {
        position: absolute;
        right: 20px;
        margin-top: -20px;
    }

    .imgcirculochico-item2 {
        position: absolute;
        right: 10px;
        margin-top: 100px;
    }

    .imgpunto2-item2 {
        position: absolute;
        right: 10px;
        margin-top: 140px;
    }

    .imgc-item2 {
        overflow: hidden;
        width: 70px;
        position: absolute;
        right: 0px;
        margin-top: 160px;
    }

    .imgx-item2 {
        position: absolute;
        right: 15px;
        margin-top: 330px;
    }
}

@media (min-width: 1101px) and (max-width: 1200px) {
    .groupimg-item2 {
        width: 580px !important;

    }
}

@media (min-width: 1001px) and (max-width: 1200px) {
    .groupimg-item2 {
        width: 530px;
        right: 0px;
        position: absolute;
    }

    .imgcuadrado-item2 {
        margin-top: -20px;
        position: absolute;
    }

    .imgcuadrado2-item2 {
        right: 70px;
        position: absolute;
    }

    .imgcircular-item2 {
        right: 115px;
        margin-top: 200px;
        position: absolute;
    }

    .imgpunto1-item2 {
        position: absolute;
        right: 20px;
        margin-top: -20px;
    }

    .imgcirculochico-item2 {
        position: absolute;
        right: 10px;
        margin-top: 100px;
    }

    .imgpunto2-item2 {
        position: absolute;
        right: 10px;
        margin-top: 140px;
    }

    .imgc-item2 {
        overflow: hidden;
        width: 70px;
        position: absolute;
        right: 0px;
        margin-top: 160px;
    }

    .imgx-item2 {
        position: absolute;
        right: 15px;
        margin-top: 330px;
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {
    .groupimg-item2 {
        width: 650px;
        right: 0px;
        position: absolute;
    }

    .imgcuadrado-item2 {
        margin-top: -20px;
        position: absolute;
    }

    .imgcuadrado2-item2 {
        right: 120px;
        position: absolute;
    }

    .imgcircular-item2 {
        right: 100px;
        margin-top: 260px;
        position: absolute;
    }

    .imgpunto1-item2 {
        position: absolute;
        right: 20px;
        margin-top: -20px;
    }

    .imgcirculochico-item2 {
        position: absolute;
        right: 10px;
        margin-top: 130px;
    }

    .imgpunto2-item2 {
        position: absolute;
        right: 10px;
        margin-top: 170px;
    }

    .imgc-item2 {
        overflow: hidden;
        width: 70px;
        position: absolute;
        right: 0px;
        margin-top: 250px;
    }

    .imgx-item2 {
        position: absolute;
        right: 15px;
        margin-top: 415px;
    }
}

@media (min-width: 1401px) and (max-width: 1600px) {
    .groupimg-item2 {
        width: 700px;
        right: 0px;
        position: absolute;
    }

    .imgcuadrado-item2 {
        margin-top: -20px;
        position: absolute;
    }

    .imgcuadrado2-item2 {
        margin-top: 29px;
        right: 137px;
        position: absolute;
    }

    .imgcircular-item2 {
        right: 150px;
        margin-top: 260px;
        position: absolute;
    }

    .imgcircular-item2 img {
        width: 200px;
    }

    .imgpunto1-item2 {
        position: absolute;
        right: 50px;
        margin-top: -20px;
    }

    .imgcirculochico-item2 {
        position: absolute;
        right: 30px;
        margin-top: 130px;
    }

    .imgpunto2-item2 {
        position: absolute;
        right: 30px;
        margin-top: 170px;
    }

    .imgc-item2 {
        overflow: hidden;
        width: 80px;
        position: absolute;
        right: 0px;
        margin-top: 250px;
    }

    .imgx-item2 {
        position: absolute;
        right: 15px;
        margin-top: 500px;
    }
}

@media (min-width: 1601px) and (max-width: 1800px) {
    .groupimg-item2 {
        width: 800px;
        right: 0px;
        position: absolute;
    }

    .imgcuadrado-item2 {
        margin-top: -20px;
        position: absolute;
    }

    .imgcuadrado2-item2 {
        margin-top: 29px;
        right: 137px;
        position: absolute;
    }

    .imgcircular-item2 {
        right: 230px;
        margin-top: 260px;
        position: absolute;
    }

    .imgcircular-item2 img {
        width: 200px;
    }

    .imgpunto1-item2 {
        position: absolute;
        right: 50px;
        margin-top: -20px;
    }

    .imgcirculochico-item2 {
        position: absolute;
        right: 30px;
        margin-top: 130px;
    }

    .imgpunto2-item2 {
        position: absolute;
        right: 30px;
        margin-top: 170px;
    }

    .imgc-item2 {
        overflow: hidden;
        width: 80px;
        position: absolute;
        right: 0px;
        margin-top: 250px;
    }

    .imgx-item2 {
        position: absolute;
        right: 15px;
        margin-top: 500px;
    }
}

@media (min-width: 1801px) and (max-width: 2000px) {
    .groupimg-item2 {
        width: 900px;
        right: 0px;
        position: absolute;
    }

    .imgcuadrado-item2 {
        margin-top: -20px;
        position: absolute;
    }

    .imgcuadrado2-item2 {
        margin-top: 29px;
        right: 250px;
        position: absolute;
    }

    .imgcircular-item2 {
        right: 280px;
        margin-top: 260px;
        position: absolute;
    }

    .imgcircular-item2 img {
        width: 200px;
    }

    .imgpunto1-item2 {
        position: absolute;
        right: 150px;
        margin-top: -20px;
    }

    .imgcirculochico-item2 {
        position: absolute;
        right: 100px;
        margin-top: 130px;
    }

    .imgpunto2-item2 {
        position: absolute;
        right: 100px;
        margin-top: 170px;
    }

    .imgc-item2 {
        overflow: hidden;
        width: 100px;
        position: absolute;
        right: 0px;
        margin-top: 250px;
    }

    .imgx-item2 {
        position: absolute;
        right: 55px;
        margin-top: 500px;
    }
}

@media (min-width: 2001px) and (max-width: 2200px) {
    .groupimg-item2 {
        width: 1000px;
        right: 0px;
        position: absolute;
    }



    .imgcuadrado2-item2 {
        margin-top: 29px;
        right: 300px;
        position: absolute;
    }

    .imgcircular-item2 {
        right: 280px;
        margin-top: 200px;
        position: absolute;
    }

    .imgcircular-item2 img {
        width: 300px;
    }

    .imgpunto1-item2 {
        position: absolute;
        right: 150px;
        margin-top: -20px;
    }

    .imgcirculochico-item2 {
        position: absolute;
        right: 100px;
        margin-top: 130px;
    }

    .imgpunto2-item2 {
        position: absolute;
        right: 100px;
        margin-top: 170px;
    }

    .imgc-item2 {
        overflow: hidden;
        width: 100px;
        position: absolute;
        right: 0px;
        margin-top: 250px;
    }

    .imgx-item2 {
        position: absolute;
        right: 55px;
        margin-top: 500px;
    }

    .divimgsimbolo {
        margin-top: 100px;
    }

    .imgsimbolo-item2 {
        width: 640px;
        height: 700px;
        z-index: 1;
        position: relative;
    }

    .imgcuadrado-item2 {
        margin-top: -20px;
        margin-left: -125px;
        position: absolute;
    }
}

@media (min-width: 2201px) and (max-width: 2400px) {
    .groupimg-item2 {
        width: 1000px;
        right: 0px;
        position: absolute;
    }



    .imgcuadrado2-item2 {
        margin-top: 29px;
        right: 350px;
        position: absolute;
    }

    .imgcircular-item2 {
        right: 350px;
        margin-top: 200px;
        position: absolute;
    }

    .imgcircular-item2 img {
        width: 300px;
    }

    .imgpunto1-item2 {
        position: absolute;
        right: 150px;
        margin-top: -20px;
    }

    .imgcirculochico-item2 {
        position: absolute;
        right: 100px;
        margin-top: 130px;
    }

    .imgpunto2-item2 {
        position: absolute;
        right: 100px;
        margin-top: 170px;
    }

    .imgc-item2 {
        overflow: hidden;
        width: 100px;
        position: absolute;
        right: 0px;
        margin-top: 250px;
    }

    .imgx-item2 {
        position: absolute;
        right: 55px;
        margin-top: 500px;
    }

    .divimgsimbolo {
        margin-top: 100px;
    }

    .imgsimbolo-item2 {
        width: 640px;
        height: 700px;
        z-index: 1;
        position: relative;
    }

    .imgcuadrado-item2 {
        margin-top: -20px;
        margin-left: -125px;
        position: absolute;
    }
}

@media (min-width: 2401px) {
    .groupimg-item2 {
        width: 1000px;
        right: 0px;
        position: absolute;
    }



    .imgcuadrado2-item2 {
        margin-top: 29px;
        right: 350px;
        position: absolute;
    }

    .imgcircular-item2 {
        right: 300px;
        margin-top: 350px;
        position: absolute;
    }

    .imgcircular-item2 img {
        width: 300px;
    }

    .imgpunto1-item2 {
        position: absolute;
        right: 150px;
        margin-top: -20px;
    }

    .imgcirculochico-item2 {
        position: absolute;
        right: 100px;
        margin-top: 130px;
    }

    .imgpunto2-item2 {
        position: absolute;
        right: 100px;
        margin-top: 170px;
    }

    .imgc-item2 {
        overflow: hidden;
        width: 100px;
        position: absolute;
        right: 0px;
        margin-top: 250px;
    }

    .imgx-item2 {
        position: absolute;
        right: 55px;
        margin-top: 500px;
    }

    .divimgsimbolo {
        margin-top: 100px;
    }

    .imgsimbolo-item2 {
        width: 640px;
        height: 700px;
        z-index: 1;
        position: relative;
    }

    .imgcuadrado-item2 {
        margin-top: -100px;
        margin-left: -125px;
        position: absolute;
    }
}

/* FIN RESPONSIVE SIMBOLOS */





/* MENU RESPONSIVO */

@media (max-width: 700px) {
    .linea {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .icono-menu {
        display: block;
        width: 45px;
        height: 45px;
        cursor: pointer;
    }

    .admin-index-daktico {
        width: 100%;
        display: block;
        height: 25px;
    }

    .admin-index-daktico span {
        font-size: 12px;
        margin-right: 10px;
    }

    .admin-index-daktico div {
        margin-left: 5px;
        justify-content: center;
        height: 100%;
    }

    .admin-index-daktico div span {
        margin-left: 0px;
    }

    .menu-index-daktico {
        width: 100%;
        height: max-content;
        display: block;
        padding-bottom: 0px;
    }

    .logo-index-daktico {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;

    }

    .logo-index-daktico a {

        justify-content: center;
        width: 70%;
        display: flex;
    }

    .logo-index-daktico a img {
        width: 150px;
    }

    #divMenu {
        display: none;
    }

    .itemsmenu-index-daktico {
        width: 100%;
        display: block;
        justify-content: right;
    }

    .itemsmenu-index-daktico .items-index {
        text-align: center;
        display: block;
        align-items: center;
        padding-bottom: 10px;

    }

    .itemsmenu-index-daktico .items-index div {
        margin-top: 10px;
    }

    .itemsmenu-index-daktico div a {
        font-weight: bold;
        margin-right: 0px;
    }

    .m-top-20 {
        margin-top: 20px !important;
    }

    #btndemo-menu {
        margin-right: auto;
    }

    .btndemo-index-daktico {

        margin-right: auto;
        margin-left: auto;

    }
}

@media (min-width: 701px) and (max-width: 800px) {
    .items-index div {
        display: flex;
        align-items: center;
    }

    .logo-index-daktico {
        width: 20%;
        margin-left: 10px;
    }

    .itemsmenu-index-daktico {
        width: 80%;
    }

    .logo-index-daktico a img {
        width: 100px;
    }

    .itemsmenu-index-daktico div a {
        margin-left: 15px;
        font-weight: bold;
        margin-right: 15px;
    }

    .wdt-120 {
        width: 120px;
    }
}

@media (min-width: 801px) and (max-width: 1200px) {
    .items-index div {
        display: flex;
        align-items: center;
    }

    .logo-index-daktico {
        width: 20%;
        margin-left: 10px;
    }

    .itemsmenu-index-daktico {
        width: 80%;
    }

    .logo-index-daktico a img {
        width: 120px;
    }

    .itemsmenu-index-daktico div a {
        margin-left: 15px;
        font-weight: bold;
        margin-right: 15px;
    }


}

@media (min-width: 2000px){
    .admin-index-daktico {
        height: 50px;
    }

    .admin-index-daktico span {
        font-size: 24px;
    }

    .admin-index-daktico img {
        width: 25px !important;
        height: 25px !important;
    }
    .logo-index-daktico a img{
        width: 300px;
    }
    
    .admin-index-daktico div span {
        margin-left: 10px;
    }

    .menu-index-daktico {
        height: 120px;
    }

    .menu-index-daktico a {
        font-size: 30px;
    }

    .btn1M {
        width: 250px;
        font-size: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

/* FIN MENU RESPONSIVO */